/**/coverage*
/**/dist
/**/node_modules
.git
/node_modules
.gitlab-ci.yml
README.md
sonar-project.properties
docker-compose.yml
.prettierrc
commitlint.config.js
.prettierignore
.lintstagedrc
.gitignore
.eslintrc.js
.eslintignore
projects/api/.env
dist/
/.husky/
migration/
scripts/
worker.Dockerfile
api.Dockerfile
/**/.eslintcache