/**/.env

/**/node_modules
/**/dist
/**/coverage*
/**/.scannerwork
/**/swagger.json

.vscode
/**/.eslintcache

/**/yarn-error.log
/**/data
*.pdf
.idea
/**/.nx

!projects/api/__tests__/book/test.pdf

/projects/api/uploads/*
/projects/shared/uploads/*
/projects/worker/uploads/*
